#SVN
*.svn

#Python
*.pyc

# project from Eclipse/Aptana IDE
*.project
*.pydevproject
*.settings

#OSX specifics
*.DS_Store

# temp files
.temp_*
temp*

# all doc files
#*/doc/*

# all build files
*-build/*
*-deps.js
xtk.js

# all .log files
*.log

# nfs
*.nfs*
