*.py[c|o]
*.egg
*.egg-info
/build
/dist
/nbproject/
pip-log.txt
/.project
/.pydevproject
/include
/lib
/lib64
/bin
/virtualenv

*.bak
*/build/*
*/_build/*
*/_build/latex/*

*.class
*.png
.version
nosetests.xml

.*
!.gitignore
/distribute_setup.py


sloccount.sc
*.prefs
